$object-name: 'o-error';
$layout-name: 'l-error';

.#{$object-name}{
    @apply flex flex-col rounded-md border overflow-hidden transition-all duration-300;

    &--red{
        @apply bg-red-100 border-red-200
    }

    &--yellow{
        @apply bg-amber-100 border-amber-200

    }

    &--green{
        @apply bg-green-100 border-green-200
    }

    &__icon{
        @apply text-3xl;

        &--red{
            @apply text-red-400;
        }

        &--yellow{
            @apply text-amber-400;
        }

        &--green{
            @apply text-green-400;
        }
    }

    &__message{
        @apply font-medium;
    }

    &__wrapper{
        @apply flex items-center gap-4 p-5;
    }

    &__loading{
        @apply bg-gray-400;

        &::after{
            @apply content-[''] bg-main-color;
        }
    }
}

.#{$layout-name}{
    @apply fixed origin-top top-[20px];
    transform: translateY(-50px);
    rotate: x -90deg;

    &__wrapper{
        @apply w-[95%] max-w-[500px]
    }

    &__loading{
        @apply w-full h-1 relative;

        &::after{
            @apply absolute top-0 left-0 h-1 w-full loading;
        }
    }
}