$object-name: 'o-switch';
$layout-name: 'l-switch';

.#{$object-name}{
    --switch-bg: #FFF;
    
    @apply block;

    &__check{
        @apply appearance-none;

        &:checked{
            & + .#{$object-name}__slider{
                    @apply bg-[var(--switch-bg)];
            } 
        }
    }

    &__slider{
        @apply cursor-pointer theme-transition;

        &::before{
            @apply bg-[rgb(219,198,2)] rounded-[1.875rem] theme-transition;
        }

        &::after{
            @apply rounded-full bg-[var(--switch-bg)] theme-transition ease-linear;
        }
    }
}

.#{$layout-name}{
    @apply relative w-[3.5em] h-[2em] self-baseline place-self-end;

    &__check{
        &:checked{
            & + .#{$object-name}__slider{
                &::before{
                    transform: translateX(1.5em);
                }

                &::after{
                    @apply w-0 h-0 left-[80%];
                }
            } 
        }

        &:focus{
            & + .#{$object-name}__slider{
                box-shadow: 0 0 1px var(--switch-bg)
            } 
        }
    }

    &__slider{
        @apply absolute inset-0 bg-[var(--switch-bg)] rounded-[1.875rem];

        &::before{
            --size: 1.4em;
            @apply content-[''] absolute h-[var(--size)] w-[var(--size)] left-[0.3em] bottom-[0.3em];
        }

        &::after{
            --size: 1.25rem;
            @apply content-[''] absolute w-[var(--size)] h-[var(--size)] left-[20%] top-[10%];
        }
    }
}