@keyframes has-shown {
    10%{
        rotate: x 0deg;
        transform: translateY(0%);
    }
    40%{
        rotate: x 0deg;
        transform: translateY(0%);
    }
    50%{
        rotate: x 0deg;
        transform: translateY(0%);
    }
    70%{
        rotate: x 0deg;
        transform: translateY(0%);
    }
    100%{
        rotate: x 0deg;
        transform: translateY(0%);
    }
}

.has-shown{
    animation: has-shown 900ms 100ms ease-in-out 2 forwards alternate;
}