@keyframes has-faded-in  {
    0%{
        opacity: 0%;
    }
    30%{
        opacity: 100%;
    } 
    
    100%{
        opacity: 100%;
    }
}
@keyframes has-faded-in-normal  {
    0%{
        opacity: 0%;
    }
    
    100%{
        opacity: 100%;
    }
}


.has-faded-in{
    animation: has-faded-in 1s forwards;
}