@keyframes has-slided-up {
    0%{
        transform: translateY(100%);
    }

    100%{
        transform: translateY(0%);
    }
}

.has-slided-up{
    animation: has-slided-up 500ms ease-in forwards;
}