@keyframes is-shaking {
    from{
        transform: translateX(5px);
    }

    50%{
        transform: translateX(0px);
    }

    to{
        transform: translateX(-5px);
    }
}

.is-shaking{
    animation: is-shaking 100ms 3 ease-in-out alternate;
}