.u-custom-scrollbar{
    ::-webkit-scrollbar {
        width: 5px;
      }
      
      ::-webkit-scrollbar-track {
        background:  rgb(192, 191, 191);
      }
      
      ::-webkit-scrollbar-thumb {
        background: grey;
        border-radius: 10px;
    }
}