:root{

    //colors
    --bg-body-color: #e8e8e8;
    --input-color: #f5f5f5;
    --main-color: #6c5ce7;
    --accent-color: #a29bfe;
    --text-color: #838282;
    --outline-color: #d3d3d3;



    //fonts
    --ff-main: 'Montserrat', sans-serif;

    --pd-xs: 0.625rem 1.25rem;
    --pd-xxs: 0.3125rem 1.25rem;

    // max-width

    --mw-md: 25rem;
}

/*
    CSS variables no big deal

    it take place in some property value:

    background: var(--color-white); 
*/